@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700i|Roboto:300,400);body {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/*BARRA DE NAVEGACION*/

.navbar {
  margin-bottom: 0;
  border: 1px solid #121619;
  border-radius: 0;
}

.navbar__inner {
  background-color: #121619;
  height: 70px;
}

.navbar__img {
  width: 100px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 96px;
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-toggle {
  border-color: #121619;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
  width: 23px;
  height: 4px;
}

.navbar-default .navbar-nav li a {
  color: #FFFFFF;
  padding-top: 25px;
}

.navbar-default .navbar-collapse {
  border: none;
  margin-right: 17%;
}

/*CABECERA*/

.header {
  height: 700px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
}

.header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

.header__titular {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -338px;
  margin: -28px 55px;
}

.header__icono {
  padding-top: 170px;
  font-size: 39px;
}

/*POST*/

.post {
  margin: 15px 100px 85px 100px;
  width: 80%;
}

.post__icono {
  border: 1px solid #323333;
  color: #707070;
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
}

.post__fecha {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: left;
  margin-left: 10%;
}

.post__fecha p {
  display: inline-block;
  margin: 25px 10px;
  color: #848484;
}

.post__texto {
  color: #848484;
  margin: 0 10% 7% 10%;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.post__texto p {
  margin: 10px 0 35px;
}

.post__texto .color {
  color: #D56C6A;
}

.post__rrss {
  margin-left: -38%;
  text-align: center;
  font-size: 30px;
}

.post__rrss .fa-heart,
.post__rrss .fa-share-alt {
  background-color: #848484;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 10px;
}

.post__rrss .fa-heart .fa-comment,
.post__rrss .fa-share-alt .fa-comment {
  padding-right: 20%;
}

.post__rrss__largo {
  padding: 10px 25px 10px 10px;
  background-color: #848484;
  color: #FFFFFF;
  border-radius: 19px;
}

.post__rrss__largo p {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  top: -6px;
}

/*AUTORA*/

.writer {
  margin: 8%;
  text-align: center;
  margin: 0;
  border: 1px solid #dcdcdc;
}

.writer__icono {
  position: relative;
  top: -17px;
  left: -8px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  border-radius: 50%;
  padding: 3px 6px;
  background-color: #FFFFFF;
  font-size: 17px;
}

.writer__img {
  display: inline-block;
  margin: 90px 0 0 20px;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
}

.writer__nombre {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
}

.writer__contacto {
  color: #848484;
  margin-bottom: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.writer__contacto p {
  margin: 0;
}

.writer__texto {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 40px;
}

.writer__texto p {
  margin: 106px 0 10px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #848484;
}

.row {
  margin-top: -85px;
  width: 100%;
}

/*JUMBOTRON*/

.jumbotron {
  text-align: center;
  margin: 0;
  padding: 50px;
}

.jumbotron .jumbotron__inner__left,
.jumbotron .jumbotron__inner__right {
  display: inline-block;
  font-size: 36px;
}

.jumbotron .jumbotron__inner__left p,
.jumbotron .jumbotron__inner__right p {
  display: inline-block;
  font-size: 17px;
  color: #323333;
  padding: 0 15px;
}

.jumbotron .jumbotron__inner__left i {
  padding-right: 16px;
}

.jumbotron .jumbotron__inner__right i {
  padding-left: 15px;
}

.jumbotron i {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #a3a3a3;
}

/*FOOTER*/

.footer {
  background-color: #121619;
  text-align: center;
  height: 150px;
}

.footer__img {
  margin: 0 auto;
  width: 100px;
  padding-top: 60px;
}

@media (max-width: 700px) {
  .navbar__img {
    margin-left: 20px;
  }

  .header {
    height: 500px;
  }

  .post {
    margin: 0 0 30px 0;
  }

  .post__fecha {
    text-align: center;
    margin-left: 0;
    margin-top: 27px;
  }

  .post__texto {
    line-height: 40px;
    margin: 0 10% 15% 10%;
  }

  .post__rrss {
    margin-top: -50px;
  }

  .post__rrss__largo {
    padding-right: 10px;
  }

  .footer {
    height: 257px;
  }

  .footer__img {
    padding-top: 81px;
  }
}

.jumbotron__inner__left {
  padding-right: 120px;
}

