@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300,400');

/*BARRA DE NAVEGACION*/
.navbar {
  margin-bottom: 0;
  border: 1px solid #121619;
  border-radius: 0;
}
.navbar__inner {
  background-color: #121619;
  height: 70px;
}
.navbar__img {
  width: 100px;
  padding-top: 20px;
  padding-left: 20px;
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-toggle{
  border-color: #121619;

  .icon-bar {
  background-color: #FFFFFF;
  width: 23px;
  height: 4px;
  }
}

/*CABECERA*/
.header {
  height: 700px;
  font-family: 'Playfair Display', serif;
}
.header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.header__titular {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -338px;
}

/*POST*/
.post__icono {
  border: 1px solid #707070;
  color: #707070;
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
}
.post__fecha {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: left;
  margin-left: 10%;
  p {
    display: inline-block;
    margin: 25px 10px;
    color: #707070;
  }
}
.post__texto {
  color: #707070;
  margin: 0 10%;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
}
.post__rrss {
  margin: 24px 170px;
  font-size: 30px;
  .fa-heart, .fa-share-alt, .fa-comment {
  background-color: #323333;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 2%;
  .fa-comment {
    padding-right: 20%;
  }
  }
}

/*AUTORA*/
.writer {
  text-align: center;
}
.writer__contacto {
  color: #707070;
}

/*FOOTER*/
.footer {
  background-color: #121619;
}

@media (max-width: 700px) {
  .header {
    height: 500px;
  }
  .post__fecha {
    text-align: center;
    margin-left: 0;
  }
}
.post__rrss {
  margin: 0;
  text-align: center;
}
